body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #222;
    color: #d5d5d5;
}

header {
    background-color: #444;
    color: #fff;
    width: 100%;
}

header .container {
    width: 40%;
    margin: auto;
}

header lottie-player {
    float: left;
    padding: 18px 0;
}

header h1 {
    margin: 0;
    padding: 30px 40px;
}

main {
    margin-bottom: 20px;
}

.text-container {
    width: 60%;
    display: block;
    margin: 20px auto;
    font-size: 22px;
    line-height: 1.8em;
}

button {
    background-color: #2884a9;
    border: none;
    outline: none;
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

button:hover {
    background-color: #73b9dd;
}

footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: #444;
}